@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Icons');

body {
	--bg: #111;
	--fg: #fff1;
	--fg-2: #fff2;
	--text: #fff;
	--text-body: #ddd;
	--accent: #1ad574;
	--accent-text: #111;
	--accent-fg: #1ad57422;
	--accent2: #d6afff;
	--accent2-fg: #d6afff22;
	--text-muted: #fff6;
	--hover-transition: 120ms;
}

body {
	font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	background-color: var(--bg);
	color: var(--text);
	margin: 0;
	width: 100vw;
	display: flex;
	justify-content: center;
	overflow-x: hidden;
}

/* h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--accent2);
} */

button,
input,
textarea {
	font-family: inherit;
	padding: 4px;
	border-radius: 6px;
	border: 2px solid var(--fg-2);
	background-color: var(--fg);
	outline: none;
	font-size: 1rem;
	transition: var(--hover-transition);
	&:focus {
		outline: none;
		border-color: var(--accent2);
		// color: var(--accent2);
		background-color: var(--accent2-fg);
	}
}

* {
	box-sizing: border-box;
	word-wrap: break-word;
}

p {
	line-height: 1.5em;
	color: var(--text-body);
}

strong {
	color: var(--accent2);
}

:root {
	color-scheme: dark;
	font-size: 1.2em;
}

.bigHeading {
	font-family: 'Inter', sans-serif;
	font-weight: 700;
	font-size: 2.5rem;
}

a {
	color: inherit;
	font-weight: 600;
}
